__pycache__
log.txt
setup.py
Ngoto.egg-info
.vscode
build
dist
Ngoto.bat
Ngoto.ps1
ChromePwTest.py
log.txt
.pytest_cache
cov.xml
.coverage

powershell.exe -noexit -ExecutionPolicy Bypass -File C:\Users\hazza\Documents\Programming\Github\Ngoto\Ngoto.ps1